<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you for signing up with I Need An Adult!</p>
 
    <p>User Name: <%= @user.user_name%></p>
    <%= confirm_email_api_user_url(@user.confirmation_token) %>
  </body>
</html>